html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #141414;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.ticket-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
}
.ticket-box:hover .ticket-description {
  opacity: 1;
}
